
<mat-card>
  <app-page-loader [hidden]="!isLoading"></app-page-loader>
  <div [hidden]="isLoading">
    <div class="row">
      <div class="col-6" style="width: 50%;">
        <mat-form-field appearance="outline" style="width: 100%">
          <mat-label>City Name *</mat-label>
          <input matInput placeholder="Type city" [(ngModel)]="searchValue">
        </mat-form-field>
        <button type="button" mat-flat-button color="primary" (click)="search()">Search</button>
        <button class="button-style" *ngIf="isSearch" type="button" mat-flat-button color="primary" (click)="clear()">clear</button>
      </div>
      <div *ngIf="!noCities" class="col-4">
        <mat-paginator
          [length]="totalElementCount"
          [pageSize]="pageSize"
          [pageIndex]="pageNumber"
          (page)="changePage($event.pageIndex)"
          [showFirstLastButtons]="true" ></mat-paginator>
      </div>
    </div>
    <mat-card-content class="row">
      <mat-card *ngFor="let cityLink of cities" class="column card-background" flex>
        <div class="row image-header">
          <div>{{cityLink.cityName}}</div>
          <button mat-stroked-button (click)="editCity(cityLink.id, cityLink.cityName)" >Edit city</button>
        </div>
        <div class="">
          <img [style.width]="cityLink.byteData.width"  [style.height]="cityLink.byteData.height"  [src]="cityLink.byteData">
        </div>

      </mat-card>
    </mat-card-content>
  </div>
</mat-card>
