.choose-file-c {
  padding-left: 15px;
  padding-right: 15px;
}
.choose-file {
  display: block;
  width: 30%;
}

.file-name {
  font-size: 13px !important;
  color: #4c555a;
  overflow: hidden;
  width: 70%;
}

.input-file{
  height: 100%;
}
.button-width {
  width: 100%;
}
.preview {
  max-width: 300px;
  max-height: 300px;
  margin: 5px;
}
.spacer {
  flex: 1 1 auto;
}

