<mat-card >
  <mat-toolbar>
    <span>Update City</span>
    <span class="spacer"></span>
    <button matTooltip="cancel" mat-icon-button color="primary" type="button" (click)="close()">
      <mat-icon>close</mat-icon>
    </button>
  </mat-toolbar>
  <div style="margin-top: 10px">
    <mat-form-field appearance="outline" style="width: 100%">
      <mat-label>City Name *</mat-label>
      <input matInput placeholder="Type city" [(ngModel)]="cityName" [value]="cityName">
    </mat-form-field>
    <div class="row flex">
      <div class="file-name col-6" >
        <input class="input-file" readonly [value]="selectedFile?.name" style="width: 100%">
      </div>
      <div class="choose-file col-3">
        <button type="button" class="button-width" mat-flat-button color="primary" (click)="fileInput.click()">Choose File</button>
        <input [value]="tempName" hidden (change)="handleFileInput($event)" #fileInput type="file" accept="image/*">
      </div>
    </div>
    <div>
      <img id="blah" [src]="imageSrc" class="preview">
    </div>
    <div>
      <button mat-flat-button color="primary" type="button" (click)="onClose()">Submit</button>
    </div>
  </div>
</mat-card>

