<mat-card >
  <div>
    <mat-form-field appearance="outline" style="width: 100%">
      <mat-label>City Name *</mat-label>
      <input matInput placeholder="Type city" [(ngModel)]="cityName" [value]="cityName">
    </mat-form-field>
    <div class="row flex justify-content-between">
      <div class="file-name" style="width: 70%">
        <input class="input-file" readonly [value]="selectedFile?.name" style="width: 100%">
      </div>
      <div class="choose-file">
        <button type="button" mat-flat-button color="primary" (click)="fileInput.click()">Choose File</button>
        <input [value]="tempName" hidden (change)="handleFileInput($event)" #fileInput type="file" accept="image/*">
      </div>
    </div>
    <div>
      <button mat-flat-button color="primary" type="button" (click)="onClose()">Submit</button>
    </div>
  </div>
</mat-card>

